POSTGRES_USER=invoice_admin
POSTGRES_PASSWORD=invoice_pass_123
POSTGRES_DB=invoice_root

PGADMIN_EMAIL=admin@invoice.com
PGADMIN_PASSWORD=admin_pass_123

JWT_SECRET=THIS_IS_A_DEVELOPMENT_SECRET_KEY_CHANGE_ME_123456789
JWT_ISSUER=InvoiceManagementProject
JWT_AUDIENCE=InvoiceManagementProjectUsers