POSTGRES_ADMIN_USER=postgres_admin
POSTGRES_ADMIN_PASSWORD=postgres_admin_pass_123
POSTGRES_DB=invoice_root

AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass_123

CUSTOMER_DB_NAME=customer_db
CUSTOMER_DB_USER=customer_user
CUSTOMER_DB_PASSWORD=customer_pass_123

INVOICE_DB_NAME=invoice_db
INVOICE_DB_USER=invoice_user
INVOICE_DB_PASSWORD=invoice_pass_123

PGADMIN_EMAIL=admin@invoice.com
PGADMIN_PASSWORD=admin_pass_123

JWT_SECRET=THIS_IS_A_DEVELOPMENT_SECRET_KEY_CHANGE_ME_123456789
JWT_ISSUER=InvoiceManagementProject
JWT_AUDIENCE=InvoiceManagementProjectUsers

FRONTEND_PORT=4200
API_GATEWAY_PORT=5000
POSTGRES_PORT=5432
PGADMIN_PORT=5050